/* Write your code here. */
.emoji-container {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  background-size: cover;
  height: 200vh;
}
.emoji-list-container {
  font-family: 'Roboto';
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
  margin-top: 0px;
}
